@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900);

// Color variables
$bg-light: #ffffff;
$bg-darker: #f5f5f5;
$font-light: #919191;
$font-dark: #393939;
$accent: #e74c3c;
$gray: #bdbdbd;
$violet: #b700ff;


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html {
    height: 100vh;
    font-family: "Roboto Slab", sans-serif;
    background: $bg-light;
    color: $font-dark;
}

body {
    position: relative;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: 6vh 1fr;
}

.navbar {
    grid-column: span 2;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background: $accent;
    color: $bg-light;
}

.nav-right button {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right button:hover {
    background: #ffffff35;
    cursor: pointer;
}

@keyframes sidemenuShow {
    from {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%)};
    to {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)};
}

.sidemenu {
    background: $bg-darker;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    animation-duration: .4s;
}

.sidemenu-show {
    display: none !important;
}

.side-def-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-def {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: $font-dark;
    padding: 8px;
    border-radius: 5px;
}

.side-def:hover {
    cursor: default;
    background-color: $bg-light;
}

.side-def img {
    height: 25px;
    width: 25px;
}

.side-def span {
    margin-left: auto;
    color: $font-light;
}

.side-projects {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.add-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-project button {
    height: 20px;
    width: 20px;
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.add-project button:hover {
    cursor: pointer;
    background: #e5e5e5;
    border-radius: 5px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: $font-dark;
    padding: 8px;
    border-radius: 5px;
}

.project span {
    margin-left: auto;
    color: $font-light;
}

.project:hover {
    cursor: default;
    background-color: $bg-light;
}

.project button {
    border: none;
    outline: none;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project button img {
    content: url("/src/img/square-minus-regular.svg");
}

.project button:hover {
    cursor: pointer;
}

.display-color {
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 999px;
}

.pop-up-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-project-popUp {
    width: 300px;
    height: 220px;
    background: $bg-light;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.addProjectPopUp-header {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    background: $bg-darker;
    border-bottom: 1px solid $gray;
}

.addProjectPopUp-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.addProjectPopUp-body div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.addProjectPopUp-body div label {
    color: $font-light;
}

.addProjectPopUp-body div input,
.addProjectPopUp-body div select{
    outline: none;
    border: none;
    border-bottom: 1px solid $font-light;
}

.addProjectPopUp-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-top: 1px solid $gray;
    padding: 5px;
    padding-right: 10px;
    justify-content: flex-end;
}

.addProjectPopUp-footer button:first-of-type {
    outline: none;
    border: none;
    padding: 4px;
    border-radius: 3px;
    background: $gray;
    color: $font-dark;
}

.addProjectPopUp-footer button:last-of-type {
    outline: none;
    border: none;
    padding: 4px;
    border-radius: 3px;
    background: $accent;
    color: $bg-light;
}

.addProjectPopUp-footer button:hover {
    cursor: pointer;
}

.body {
    display: grid;
    grid-template-rows: auto 1fr;
}

.empty {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-light;
    flex-direction: column;
}

.body-control {
    padding: 15px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.body-control button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.body-control button:hover {
    background: $bg-darker;
    cursor: pointer;
}

.body-control button img {
    content: url("/src/img/circle-plus-solid.svg");
    height: 15px;
    width: 15px;
}

.body-control button p {
    color: $accent;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.task {
    display: grid;
    width: 100%;
    background: $bg-darker;
    box-shadow: rgba(165, 149, 149, 0.2) 0px 8px 24px;
    border-radius: 15px;
    grid-template-columns: auto auto auto 1fr auto;
    grid-template-rows: repeat(2, auto);
    padding: 15px;
    gap: 5px;
    column-gap: 20px;
}

.display-priority {
    grid-column: 1;
    grid-row: span 2;
    width: 10px;
    height: 100%;
    border-radius: 5px;
}

.task input[type="checkbox"] {
    width: 20px;
    height: 20px;
    align-self: center;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    // Styling:
    border-radius: 5px;
    border: 2px solid $font-dark;
    content: "";
    display: grid;
    place-content: center;
}

.task input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: $font-dark;
    transform: scale(0);
}

.task input[type="checkbox"]:hover {
    cursor: pointer;
}

.task input[type='checkbox']:checked::before {
    transform: scale(1);
}

.task p {
    align-self: center;
    grid-column: 4;
    color: $font-light;
}

.displayDueDate {
    grid-column: 3;
    grid-row: 2;
}

button.remove-task-button {
    padding: 5px;
    outline: none;
    border: none;
    background: none;
}

button.remove-task-button:hover {
    cursor: pointer;
}

.remove-task-button img {
    content: url("/src/img/trash-solid.svg");
    height: 25px;
    width: 25px;
}

.title-lineThrough {
    text-decoration: line-through;
    color: $font-light;
}

.new-task-input {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    border-radius: 10px;
    padding: 15px;
    width: 40vw;
}

.new-task-input input[type="text"],
.new-task-input textarea {
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
}

.new-task-input input[type="text"] {
    grid-column: 1;
    grid-row: 1;
}

.new-task-input textarea {
    resize: none;
    height: 100px;
    grid-column: 1;
    grid-row: 2;
}

.new-task-input input[type="date"],
.new-task-input select {
    border: 1px solid $font-light;
    color: $font-light;
    border-radius: 5px;
    padding: 4px;
    font-size: 1rem;
    outline: none;
}

.new-task-input input[type="date"] {
    grid-column: 2;
    grid-row: 1;
    width: 150px;
    height: 50px;
}

.new-task-input select {
    grid-column: 2;
    grid-row: 2;
    width: 150px;
    height: 50px;
}

.new-task-input div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    grid-column: 2;
    grid-row: 3;
}

.new-task-input div button {
    font-size: 1rem;
}

.new-task-input div button:first-of-type {
    background: $bg-darker;
}

.new-task-input div button:first-of-type:hover {
    cursor: pointer;
    background: $bg-darker;
}

.new-task-input div button:last-of-type {
    background: $accent;
    color: white;
}

.new-task-input div button:last-of-type:hover {
    background: $accent;
    cursor: pointer;
}